<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Final_Poject.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Final_Poject.Properties.Settings.ConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Final_Poject.Properties.Settings.ConnectionString1"
            connectionString="Data Source=(localdb)\ProjectModels;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Final_Poject.Properties.Settings.ProductConnectionString"
            connectionString="Data Source=DESKTOP-TB6HHOS\SQLEXPRESS;Initial Catalog=Product;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Final_Poject.Properties.Settings.AKConnectionString"
            connectionString="Data Source=DESKTOP-TB6HHOS;Initial Catalog=AK;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
